{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>#d1 {border-left-style: solid; border-left-width: 1px; color: #10d608; border-color: #10d608; }</style>
<div> <p id="title1"> Hello </p></div>
<div id="main1">

    <p id="text1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla sapien, volutpat nec purus at, ultricies suscipit metus. Quisque ultrices pharetra magna ut elementum. Ut hendrerit felis sit amet justo blandit, nec semper enim suscipit. Aliquam mollis, turpis sit amet scelerisque tincidunt, mi nulla commodo quam, sed lacinia dui arcu quis urna. Praesent luctus tempor arcu at gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer quis tincidunt urna, ac tempus diam. Nulla condimentum, nulla vitae sodales dictum, purus tellus auctor lorem, in suscipit nunc lorem nec sapien.
    </p>

    <img src="{% static 'pret.jpg' %}" id="pic1"/>
</div>
<div id="main2">

    <p id="text2">
        Pellentesque semper tellus magna, vel ullamcorper metus laoreet ut. Mauris suscipit faucibus vulputate. Duis in purus nibh. Integer pharetra semper maximus. Sed rhoncus nibh et turpis pulvinar commodo. Cras a consectetur sem, vitae pellentesque nulla. Sed sed arcu id leo ornare auctor vitae at enim. Ut quis tellus leo. Ut ut interdum nisi. Suspendisse at dapibus sapien, sed consectetur elit. Proin sollicitudin convallis sodales. Maecenas venenatis risus diam, nec dignissim ex laoreet in. Morbi sed mattis turpis, ac fermentum tellus. Mauris feugiat, metus posuere molestie porta, enim nulla efficitur elit, nec rutrum sem erat sed nisi. 
    </p>

    <img src="{% static 'frog.png' %}" id="pic2"/>
</div>

{% endblock %}
