{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>#d2 {border-left-style: solid; border-left-width: 1px; color: #10d608; border-color: #10d608; }</style>

<div> <p id="title1"> Middle College Community Connections </p></div>
<div id="main1">
    <p id="text1">
        I'm not the type of person that takes on a leadership role. For most of my academic career, I didn't participate in anything that wasn't required.
        However, since I joined middle college, I have been trying to be an acvite participant in things that I enjoy.
        Last year, Middle College did a 


        In my junior year, I started attending GSA meetings.

    </p>
    <img src="{% static 'pret.jpg' %}" id="pic1"/>
</div>
<div id="main2">
    <p id="text2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla sapien, volutpat nec purus at, ultricies suscipit metus. Quisque ultrices pharetra magna ut elementum. Ut hendrerit felis sit amet justo blandit, nec semper enim suscipit. Aliquam mollis, turpis sit amet scelerisque tincidunt, mi nulla commodo quam, sed lacinia dui arcu quis urna. Praesent luctus tempor arcu at gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer quis tincidunt urna, ac tempus diam. Nulla condimentum, nulla vitae sodales dictum, purus tellus auctor lorem, in suscipit nunc lorem nec sapien.
    </p>
    <img src="{% static 'frog.png' %}" id="pic2"/>
</div>


<div> <p id="title1"> College Community Connections </p></div>
<div id="main1">
    <p id="text1">
        During my junior year, I didn't participate in college ______(things??).
        This year, I tried to branch out. I went to a few college club meetings that looked interesting.
        Last semester, I found two clubs that I like and that fit my schedule: STEM club and Red Cross club.

        In Fall of 2017, I some students in my Chemistry class invited me to study in the ISC (Integrated Science Center).
        I had no idea this place existed, but I quickly realized that it's a great place to study.
        They have tutors and lots of friendly students that can help with homework from Sceince and Math classes.
        After this, I started looking into the other resources that CSM offers.

    </p>
    <img src="{% static 'pret.jpg' %}" id="pic1"/>
</div>
<div id="main2">
    <p id="text2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla sapien, volutpat nec purus at, ultricies suscipit metus. Quisque ultrices pharetra magna ut elementum. Ut hendrerit felis sit amet justo blandit, nec semper enim suscipit. Aliquam mollis, turpis sit amet scelerisque tincidunt, mi nulla commodo quam, sed lacinia dui arcu quis urna. Praesent luctus tempor arcu at gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer quis tincidunt urna, ac tempus diam. Nulla condimentum, nulla vitae sodales dictum, purus tellus auctor lorem, in suscipit nunc lorem nec sapien.
    </p>
    <img src="{% static 'frog.png' %}" id="pic2"/>
</div>

{% endblock %}
