% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>#d3 {border-left-style: solid; border-left-width: 1px; color: #10d608; border-color: #10d608; }</style>

<div> <p id="title1"> Middle College to Middle College </p></div>
<div id="main1">
    <p id="text1">
        Senior year English and Gov/Econ.
        Taking both of these classes at once helped me gain a well-rounded understanding of the pros and cons of our governemnt and economic system.
        In Mr. Clardy's class learned about the technical details of how our government functions, how it helps people, how our economy is sustained, and how people benefit from it. We also learned about the invisible hand that guides entrepreneurs towards making similar choices.
        Meanwhile, in Ms. Redgate's class we learned about the tools that can be used to deconstruct potentially harmful power structures in our society, that includes our government and our capitalist market economy.

    </p>
    <img src="{% static 'pret.jpg' %}" id="pic1"/>
</div>
<div id="main2">
    <p id="text2">

    </p>
    <img src="{% static 'frog.png' %}" id="pic2"/>
</div>


<div> <p id="title1"> College to College </p></div>
<div id="main1">
    <p id="text1">
        I took Engineering 100 in Fall of 2017. There was a unit about calculating forces that involved trig.
        I never took trig, so I was having some trouble with it at first. I asked my professor for help during office hours and I used online resources.
        This semester, I took Math 222 (Precalculus). When we got to the unit about calculatoring forces, it went a bit more in depth. Having those real life examples of how forces interact in engineering really helped grow my understanding of this unit. Forces in precalc are just pure math, but in engineering I learned how to make free body diagrams. I had to learn how to intuitively see forces and how they work with real life objects. Thinking about concreate examples of forces from last semester made understanding forces in a purely mathmatical way easier.

    </p>
    <img src="{% static 'pret.jpg' %}" id="pic1"/>
</div>
<div id="main2">
    <p id="text2">

    </p>
    <img src="{% static 'frog.png' %}" id="pic2"/>
</div>

{% endblock %}
