{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>#d4 {border-left-style: solid; border-left-width: 1px; color: #10d608; border-color: #10d608; }</style>

<div> <p id="title1"> ENGR 100 Design Project </p></div>
<div id="main1">
    <p id="text1">
        In engineering 100, we were given 3 weeks to make an Arduino project. An Arduino is a small computer. In my group, I was the only person that has worked with Arduinos before or knows how to code at all. As a result, I had to determine whether
        I wasn't familiar with the language that Arduinos use (C), but the syntax is similar enough to Java so I figured it out.
        The difficult part was deciding on the project we're making. At first, I was having trouble guiding my group members towards a realistic goal. We looked at arduino project youtube videos for ideas. The first one we considered was a cube made of LEDs that would light up the LEDs in patterns.
        <br/><br/>
        I came to the conclusion that this idea would be almost impossible with this timeframe. Each LED needs to connect to one pin on the Arduino board. There are only 20 pins we could use for this. One pin has to be used for a button, so there's 19 left. If we made the cube 3x3x3, which is already smaller than they wanted, it still wouldn't fit. Because 3^3 is 27 LEDs, and we didn't have that many pins availible.
        There is a workaround for this. We could've bought a little board that would allow us to use have more pins, but we didn't have time to wait for it to be shipped to us. We also could have doubled up on some LEDs. Meaning that two LEDs would have to light up at the same time. But that limits the patterns we could make.
        <br/><br/>
        We talked to our professor after class and he told us he has some proximity sensors. So the next idea they came up with was putting LEDs in a ring, paired up with a proximity sensor, that would light up when the proximity sensor is activated.
        <br/>
        For this plan to work, we would need to use one pin for each sensor as well as for each LED. This means we could only have a maximum of 9 LEDs. I suggested putting them in a straight line, so it would be easier to turn on individual LEDs. A few days later the plan shifted into putting LEDs with proximity sensors on a set of stairs.
        https://docs.google.com/presentation/d/1aBoO76samgs5WLdb5WNW6fQ1oWHH95tlMX1Z2sMvUns/edit#slide=id.g2ad7cc6e85_0_0
    </p>

    <img src="{% static 'arduino.png' %}" id="pic1"/>
</div>
<div id="main2">
    <p id="text2">
    </p>
    <img src="{% static 'engrnotes.jpg' %}" id="pic2"/>
</div>

{% endblock %}
